<h2>Sign In</h2>
<!--<div *ngIf="message"> {{ message }}</div>
    <form  *ngIf="!authService.getUser()">
      <div >
        <label for="username">User:</label>
        <input  name="username" #username>
      </div>
      <div>
        <label for="password">Password:</label>
        <input  type="password" name="password" #password>
      </div>
      <a (click)="login(username.value, password.value)" href=""> Login </a>
    </form>

    <div  *ngIf="authService.getUser()">
      <br/>
      Logged in as <b>{{ authService.getUser() }}</b>
      <a href (click)="logout()">Log out</a>
    </div>

  -->


<div *ngIf="message"> {{ message }}</div>
    <form  *ngIf="!authService.getUser()"  #signInForm="ngForm" (ngSubmit)="login(signInForm.value)">
      <div >
        <label for="username">User Name:</label>
        <input  name="username" #username  required [(ngModel)]="model.username" #username="ngModel">
      </div>
      <div>
        <label for="password">Password:</label>
        <input  type="password" name="password" required [(ngModel)]="model.password" #password="ngModel">
      </div>
      <button type="submit" [disabled]="!signInForm.form.valid">Submit</button>
    </form>

    <div  *ngIf="authService.getUser()">
      <br/>
      Logged in as <b>{{ authService.getUser() }}</b>
      <a href (click)="logout()">Log out</a>
    </div>