<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <app-login></app-login> 
  <br/>
  <changepassword></changepassword>
  <br/>
  <br/>
  <email-form></email-form>
  <product-insert></product-insert>
  <register></register>
  <sign-in></sign-in>
  <br/>
  <gdi></gdi>
  <br/>
  <app-branding></app-branding>
  <br/>
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div *ngIf="status">
    <p>First Name: {{firstName | uppercase}}</p>
    <p>Last Name: {{lastName}}</p>
    <p>Likes: {{likes | currency}}</p>
    <p>Description: {{description}}</p>>    
  </div>
  <br/>
  <app-conditional></app-conditional>
  <br/>
  <app-product-detail
    name="Rose"
    price=100
    quantity=1000
    likes=10000
    imageUrl="/assets/images/transflower.jpeg">
  </app-product-detail>
  <app-product-detail
    name="Jasmine"
    price=200
    quantity=2000
    likes=20000
    imageUrl="/assets/images/jasmine.jpg">
  </app-product-detail> 
  <br/>
  
<app-productlist>
</app-productlist>
<selling-products></selling-products>  
</div>-->

<div class="col-md-12 ">
  <div class="row">
      <!-- <email-form></email-form> -->
      <!-- <customer-address></customer-address>-->
      <!-- <templatedrivenform></templatedrivenform> -->
      <!-- <reactiveform></reactiveform> -->
  </div>
  <div class="row">
    <route-container></route-container> 

  </div>

</div>




