.bordered {
    border: 2px dashed #214AED;
    background-color: #E1AE7E
}

.bold-text {
    font-weight: bold;    
}
.green  {
    color: rgb(33, 237, 60)
}
.blue {
    color:#214AED;
    font-size: 40px;
    font-style: italic;
}
.red {
    color:#f00
}
.show-class {
    visibility: visible;
}
.hide-class {
    visibility: hidden;
}
.italic-text {
    font-style: italic;
}
.small-text {
    font-size: 10px;
}